.bg-light-blue {
  background: linear-gradient(
    rgb(38, 73, 126) 78%,
    rgb(53, 103, 176) 101.68%
  ) !important;
}

.bg-secondary {
  background: rgb(101, 191, 192) !important;
}

.text-light-blue {
  color: linear-gradient(
    rgb(38, 73, 126) 78%,
    rgb(53, 103, 176) 101.68%
  ) !important;
}

.text-secondary {
  color: rgb(38, 73, 126) !important;
}

.carousel-item {
  width: 350px; /* fixed width */
  height: 140px; /* fixed height */
  padding: 16px;
  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* CRITICAL for logos */
}
