@font-face {
  font-family: Montserrat;
  font-display: swap;
}

.hero-container {
  background: linear-gradient(#04356f, #266bbe);
}

#openBtn {
  display: grid;
  justify-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 50px;
  background-color: #245c6d;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 0.83px;
  font-weight: 600;
  z-index: 10;
  border-radius: 8px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
}

.logo-yx {
  position: absolute;
  width: 17%;
  height: 13%;
  top: -15px;
  object-fit: contain;
}

.logo-y {
  height: 40px;
  position: relative;
  width: 80px;
  object-fit: contain;
  left: 0px;
}

#drawer {
  position: fixed;
  bottom: -100%;
  right: 0;
  height: max-content;
  width: 30%;
  background: linear-gradient(#04356f, #266bbe);
  color: #fff;
  /* Text color for contrast */
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
  transition: bottom 0.3s ease-in-out;
  z-index: 15;
  border-top-left-radius: 20px;
  /* Rounded top-left corner */
  border-top-right-radius: 20px;
}

.drawer-content {
  padding: 20px;
  height: 100%;
  overflow-y: auto;
}

.drawer-items {
  margin-top: 20px;
  text-align: center;
  display: grid;
  justify-items: center;
  gap: 5px;
}

.drawer-items button {
  background: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
  height: 2.8rem;
  border-radius: 2px;
  color: #2d9f28;
  font-weight: 600;
  border-radius: 25px;
}

.drawer-items button:active {
  transform: scale(0.99);
}

.drawer-banner {
  margin-top: 30px;
  background-color: #fff;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.1),
    0 6px 20px rgba(0, 0, 0, 0.1);
  padding: 15px 2px 2px;
  color: #000;
  border-radius: 8px;
  text-align: center;
}

.drawer-banner h2 {
  letter-spacing: 0.83px;
}

#closeBtn {
  background-color: red;
  color: white;
  top: 35px;
  border: none;
  padding: 2px 5px 7px;
  cursor: pointer;
  position: absolute;
  right: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

#imasCircle {
  display: flex;
  justify-content: center;
}

.drawer-items {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  #openBtn {
    bottom: 10px;
    left: 10px;
    font-size: 14px;
  }

  #closeBtn {
    font-size: 14px;
    background-color: red;
    color: white;
    top: 50px;
    right: 45px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 23px;
    padding: 7px 10px 10px 10px;
  }

  #imasCircle {
    display: block;
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 38px;
    top: 10px;
    left: 41%;
    /* background-color: #0f0f0f;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); */
    border: none;
    text-align: center;
    padding: 21px 14px;
    /* border: 2px solid #e924cb; */
  }

  #drawer {
    height: 45%;
    width: 100%;
    border-top-left-radius: 160px;
    /* Rounded top-left corner */
    border-top-right-radius: 160px;
    border: 5px solid #8fbfd1;
  }

  .drawer-items {
    margin-top: 20px;
    text-align: center;
  }

  .drawer-items h2 {
    font-size: 18px;
  }

  .drawer-banner {
    margin-top: 80px;
    background-color: #fff;
    box-shadow:
      0 4px 8px rgba(0, 0, 0, 0.1),
      0 6px 20px rgba(0, 0, 0, 0.1);
    padding: 15px 2px 2px;
    color: #000;
    border-radius: 8px;
    text-align: center;
  }

  .drawer-banner h2 {
    font-size: 18px;
    font-weight: 700;
  }

  .drawer-banner p {
    font-size: 14px;
  }
}

body {
  touch-action: manipulation;
}

a {
  color: #f1f1f1 !important;
  text-decoration: underline;
}

li {
  color: #454442 !important;
  text-align: left;
}

.h1,
h1 {
  font-size: 1.5rem;
  color: #04356f;
}

/* CSS for the navbar container */
.transprint-navbar {
  background-color: rgb(255 255 255) !important;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: underline;
}

.slider-all {
  min-height: 450px;
  width: 60rem;

  background: url('LILAVATI%20PIC.cms');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar {
  z-index: 999;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: -11rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.nav-link {
  color: #04346fd0 !important;
}

.nav-link:hover {
  color: #04356f !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  font-size: 17px;
  text-decoration: none;
  font-weight: 500;
}

.inner-element {
  position: relative;
  top: 300px;
  color: white;
  text-align: center;
  visibility: hidden;
}

.navbar-nav {
  margin-left: 17px;
}

.btn-block {
  background-color: #004185 !important;
  color: white;
  display: flex;
  width: 599px;
  padding: 11.5px 8px;
  justify-content: center;
  align-items: center;
  margin-left: -180px;
  margin-top: 15px;
  font-size: 21px;
}

#overview {
  margin-top: -42px;
}

/* Style the tab */
.tab {
  overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px 62px;
  transition: 0.3s;
  font-size: 17px;
  border-radius: 50px;
  color: #04356f;
  border: 1px solid #04356f;
  font-weight: 500;
  margin-bottom: 47px;
  margin-top: 12px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #ffffff;
  font-weight: 600;
  border: 1px solid #04356f;
  background: rgb(15, 78, 156);

  box-shadow: 0px 0px 8px 2px #a1a1a1bf;
}

/* Create an active/current tablink class */
.tab button.active {
  background: rgb(13, 58, 112);
  color: white;
  box-shadow: 0px 0px 8px 2px #a1a1a1bf;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.circular-img {
  border-radius: 50% !important;
  height: 240px;
  padding-top: 6px;
  width: 254px;
  position: relative;
  top: -116px;
}

.col-md-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 31.333333%;
}

.box-card {
  box-shadow: 0px 0px 3.4885714054107666px 0px rgba(0, 0, 0, 0.25);
  /* padding: 15px 1px 29px 46px; */
  margin: 59px 1px 26px 11px;
}

.btn-1 {
  width: 99%;
  background: rgb(13, 58, 112);
  padding: 16.28px 34.533px 17.72px 6.467px;
  color: white;
  font-weight: 600;
}

.btn-1:hover {
  background: rgb(15, 78, 156);
}

.btn-2:hover {
  background: rgb(15, 78, 156);
}

.btn-2 {
  width: 99%;
  background-color: #04356f;
  padding: 16.28px 34.533px 17.72px 35.467px;
  color: white;
  font-weight: 600;
}

.h1,
h1 {
  font-size: 1.5rem;
}

.text-dr {
  font-size: 19px;
  padding-block: 12px;
  color: #004185;
  margin-top: -114px;
}

.inner_gif {
  width: 47%;
  height: 26px;
  margin-left: 0px;
  margin-top: -48px;
  border-radius: 8%;
  box-shadow: 0px 0px 1px 1px #fffefe4d;
}

.inner_text {
  font-size: 11px;
  position: relative;
  top: -26px;
  left: 0px;
}

.slider-all {
  overflow: hidden;
}

.inner-dadta-slider {
  background: #103c71;
  color: white;
  position: relative;
  text-align: center;
  padding: 40px 0px 40px 0px;
  font-size: 17px;
  margin-left: -17px;
  width: 4rem;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0px 0px 1px 1px #ffffff61;
}

.helth-check {
  border: 3px dotted #d5d5d5;
  margin-block: 65px;
  padding: 35px;
  text-align: center;
}

.style-helth {
  padding: 36px;
  box-shadow: 0px 0px 2px 0px #d1d1d1;
  border-radius: 7px;
  background: #ffffff;
  color: white;
  font-weight: 500;
  margin-bottom: 32px;
  border: 1px solid #bcbbb5;
  position: relative;
  left: -47px;
  padding-left: 139px;
}

.font_set {
  font-size: 32px;
  color: #04356f;
  text-align: left;
}

.box-all {
}

@media screen and (max-width: 800px) {
  .footer-all {
    background-color: #04356f !important;
    padding-inline: 0px !important;
  }

  .helth-check {
    margin-block: 65px;
    text-align: center;
    padding: 0px !important;
    border: none !important;
    width: 85%;
  }

  .none-circle {
    margin-left: -17px !important;
  }

  .marq {
    top: -35px !important;
  }

  .style-helth {
    padding: 35px;
    box-shadow: 0px 0px 2px 0px #d1d1d1;
    border-radius: 7px;
    font-weight: 500;
    margin-bottom: 14px;
    position: relative;
    left: -23px;
    overflow: hidden;
  }

  .h1,
  h1 {
    font-size: 21px !important;
  }

  .arrow-down {
    left: 170px;
  }

  .tab button {
    padding: 10px 7px;
    font-size: 17px;
    border-radius: 50px;
    font-weight: 500;
    margin-bottom: 13px;
  }

  .inner-dadta-slider {
    display: none;
  }

  li {
    display: list-item;
    text-align: -webkit-match-parent;
    padding-block: 6px;
    font-size: 12px !important;
    font-weight: 600;
    color: #454545;
    padding-inline: 11px;
    text-align: left;
  }

  .p-d {
    padding-inline: 38px;
    padding-block: 7px;
    font-size: 18px;
    border-bottom: 1px solid #ffffff12;
  }

  .box-patients {
    margin-inline: 0px !important;
  }

  .card-testi {
    width: 100% !important;
    padding-block: 10px;
    margin-inline: 50px;
    margin-bottom: 12px;
  }

  .price-box {
    max-width: 100% !important;
    margin-inline: 15px !important;
    margin-bottom: 12px;
    padding-block: 12px;
  }

  .h1,
  h1 {
    font-size: 1.5rem;
  }

  .price-box-text-right {
    margin-top: -29px !important;
    margin-right: 33px !important;
  }

  .service-al {
    width: 90% !important;
    margin-inline: 15px;
  }

  .btn-1 {
    border-bottom: 1px solid #067370;
    margin-bottom: 2px;
  }

  .btn-block {
    width: 100% !important;
    margin-top: 15px;
    margin-inline: 0px;
  }

  .price-box {
    max-width: 88.333333% !important;
  }

  .f-m-32 {
    font-size: 32px !important;
  }

  .slider-all {
    top: -1px !important;
  }

  .navbar-light .navbar-toggler-icon {
    /* background-image: url('menu.png'); */
  }

  .navbar-light .navbar-toggler {
    color: rgb(255 255 255 / 50%);
    border: none;
  }

  .navbar {
    z-index: 999;
    position: absolute;
    width: 100%;
  }

  .Patient_Services {
    font-size: 19px;
    color: #4d4d4d;
  }

  #overview {
    margin-top: 2px;
  }

  .check-up {
    border-radius: 13px !important;
    border: px solid #d9d9d9 !important;
    background: #fff;
    overflow: hidden;
    margin-block: 97px;
    width: 92%;
  }

  .navbar-nav {
    padding-left: 0px;
    margin-bottom: 0;
    list-style: none;
    background: #00000000;
    width: 99%;
    margin-left: 0px;
    padding-block: 65px;
    border-radius: 7px;
    box-shadow: 0px 0px 24px 1px #7772728c;
  }

  .box-card {
    box-shadow: 0px 0px 3.4885714054107666px 0px rgba(0, 0, 0, 0.25);
    margin: 136px 0px 26px 0px !important;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 19px;
    border-bottom: 1px solid #ffffff66;
    height: 56px;
  }

  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 1 0 100.333333% !important;
    max-width: 100% !important;
  }

  .hotel-row {
    border: 0.8px solid #9b9a9a !important;
    margin-inline: -7px;
  }

  .boxt-f-color {
    margin-top: -90px;
    margin-bottom: 30px;
  }

  .logo_mob {
    width: 49%;
  }

  .hotel-img {
    width: 333px !important;
    height: 242px !important;
    margin-left: -3px !important;
    margin-top: 9px !important;
    border-radius: 11px;
  }

  .slider-all {
    background-size: 149% 107%;
    top: -10px !important;
  }

  .border-b {
    margin-top: 62px;
    width: 110%;
    margin-left: -16px;
    border: 1px solid #9b9a9a;
    padding: 33px;
    padding-bottom: 84px;
  }

  .hotel-row {
    border: 0.8px solid #9b9a9a !important;
    margin-inline: -7px;
  }

  .hotel-btn {
    padding: 15px 57px 15px 57px;
  }

  .head-1 {
    padding-inline: 31px !important;
    position: relative;
    top: 2px;
  }

  .footer {
    padding: 15px !important;
    text-align: justify;
  }

  .head-2 {
    padding-inline: 33px !important;
    font-size: 14px !important;
    margin-top: -6px;
  }
}

.logo-x {
  height: 61px;
  position: relative;
  top: -13px;
  width: 130px;
}

.logo-yx {
  height: 70px;
  position: relative;
  top: 15px;
  width: 150px;
  border-radius: 30px;
  object-fit: contain;
  left: -5px;
}

.logo-y {
  height: 80px;
  position: relative;
  /* top: -21px; */
  width: 80px;
  border-radius: 30px;
  object-fit: contain;
  /* left: -15px; */
}

.head-1 {
  padding-inline: 90px;
  color: #04356f;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.head-2 {
  color: #04356f;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 196.9%;
  padding-inline: 90px;
  text-align: justify;
  margin-bottom: 43px;
}

.btn-service {
  background: none;
  border: none;
  text-decoration: underline;
}

.btn-service:hover {
  position: relative;
  top: -2px;
}

.h-font {
  margin-bottom: -16px;
  margin-top: 32px;
  font-size: 22px;
}

.box-service-x {
  border-radius: 8px;
  border: 1px solid #000;
  background: #fff;
  box-shadow: 0px 0px 9px 0px #97caff;
  margin: 7px 8px 11px 6px;
  overflow: hidden;
  padding: 26px;
}

.hotel-btn {
  border-radius: 31px;
  background: #04356f;
  color: white;
  padding: 8px 17px 8px 16px;
  border: none;
  margin-top: 50px;
  cursor: pointer;
}

.hotel-row {
  overflow: hidden;
  border-radius: 15.727px;
  border: 0.8px solid #d8d8d8;
  background: #fff;
}

.hotel-img {
  width: 333px !important;
  height: 242px !important;
  margin-left: -14px !important;
}

.image-column1 {
  overflow: hidden;
  background-image: url(../img/img1.webp);
  background-size: cover;
  height: 225px;
}

.image-column1 {
  overflow: hidden;
  background-image: url(../img/img1.webp);
  background-size: cover;
  height: 225px;
}

.image-column2 {
  overflow: hidden;
  background-image: url(../img/image%2015.webp);
  background-size: cover;
  height: 225px;
}

.image-column3 {
  overflow: hidden;
  background-image: url(../img/image%2016.webp);
  background-size: cover;
  height: 225px;
}

.image-column4 {
  overflow: hidden;
  background-image: url(../img/image%2017.webp);
  background-size: cover;
  height: 225px;
}

.image-column5 {
  overflow: hidden;
  background-image: url(../img/image%2018.webp);
  background-size: cover;
  height: 225px;
}

.hotel-row {
  overflow: hidden;
  border-radius: 15.727px;
  border: 0.8px solid #d8d8d8;
  background: #fff;
}

.price-box {
  max-width: 100%;
}

.inter-adv {
  width: 200% !important;
}

.card-body {
  width: 200%;
}

.box1 {
  border-radius: 13px;
  border: 1px solid #000;
  background: #fff;
}

.card-testi {
  border-radius: 13px;
  border: 1px solid #00bdd6b0;
  background: #fff;
  padding-block: 10px;
  width: 47%;
}

.w-50 {
  width: 47% !important;
}

.price-box {
  border-radius: 14px;
  border: 2px solid #04356f;
  background: #fff;
  margin-inline: -14px;
}

.text-price {
  color: #706722;
  font-family: Inter;
  font-size: 15.87px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 33px;
}

.price-list {
  width: 50%;
  text-align: center;
  margin-block: 36px;
  color: #706722;
  font-size: 24px;

  font-weight: 400;
  line-height: normal;
}

.semi-text {
  color: #706722;
  font-size: 14.725px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -15px;
}

.box-patients {
  margin-inline: 169px;
}

@media screen and (max-width: 1526px) {
  .circular-img-testi {
    height: 145px !important;
    width: 50%;
  }

  .text_dec {
    font-size: 22px;
    font-weight: 600;
  }

  .text_dec:after {
    width: 143px !important;
    height: 2px;
    right: -19px !important;
  }

  .text_dec:before {
    width: 143px !important;
    height: 2px;
    left: -19px !important;
  }
}

.check-up {
  border-radius: 40px;
  border: 3px solid #d9d9d9;
  background: #fff;
  overflow: hidden;
  margin-block: 97px;
}

.price-box-text {
  color: #3d3c3c;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 49px;
  margin-left: 18px;
}

.price-box-text-right {
  color: #0ca854;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: -60px;
  margin-right: 88px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  padding-block: 6px;
  font-size: 17px;
  font-weight: 600;
  color: #454545;
  padding-inline: 11px;
  text-align: left;
}

.card {
  border: none;
}

.custom-list {
  list-style-image: url('Green.svg') !important;
  padding-left: 0;
  padding-inline: 34px;
}

.footer {
  background-color: #04356f !important;
  color: white;
  padding: 59px;
}

.footer-all {
  background-color: #04356f !important;
  padding-inline: 119px;
}

.none-circle {
  list-style: none;
  color: white;
  list-style-image: url(double\ arrow.svg) !important;
  margin-left: 101px;
}

.Patient_Services {
  font-size: 27px;
  color: #4d4d4d;
}

.text_dec {
  margin: auto;
  text-align: center;
  color: #04356f;
  font-size: 27px;
  max-width: 292px;
  position: relative;
}

.text_dec:before {
  content: '';
  display: block;
  width: 193px;
  height: 2px;
  background: #04356f;
  left: -63px;
  top: 50%;
  position: absolute;
}

.img-mobi {
  margin-left: -11px;
}

.text_dec:after {
  content: '';
  display: block;
  width: 193px;
  height: 2px;
  background: #04356f;
  right: -63px;
  top: 50%;

  position: absolute;
}

.i-con-box {
  background-image: url(../img/IMAGE.webp);
  background-size: cover;
  height: auto;
  padding-block: 12px;
  margin-bottom: 3px;
  margin-top: 6px;
  color: #897d2c;
  width: 100% !important;
}
