:root {
  --primary-color-1: #ca8e46;
  --primary-color-1-rgb: 202, 142, 70;
}

.bg-color,
section.bg-color,
section.call-to-action,
#mainmenu li li a:hover,
.price-row,
.blog-list .date,
.blog-read .date,
.slider-info .text1,
#filters a.selected,
.btn-primary,
.bg-id-color,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.dropcap,
.fullwidthbanner-container a.btn,
.feature-box-big-icon i,
#testimonial-full,
.icon-deco i,
.blog-list .date-box .day,
.blog-read .date-box .day,
.bloglist .date-box .day,
.feature-box-small-icon .border,
.small-border,
#jpreBar,
.date-post,
.team-list .small-border,
.de-team-list .small-border,
.owl-arrow span,
.de-progress .progress-bar,
#btn-close-x:hover,
.box-fx .info,
.de_tab.tab_steps .de_nav li span,
.de_testi blockquote:before,
#services-list li.active,
#services-list li a:hover,
.btn-more,
.widget .small-border,
.product img:hover,
#btn-search,
.de_tab.timeline li.active .dot,
.custom-show:after,
.custom-close:after,
#back-to-top,
a.btn-main,
.owl-custom-nav .btn-next:before,
.owl-custom-nav .btn-prev:before,
#mainmenu ul li:hover > a,
.pricing-s1 .ribbon,
a.btn-slider.btn-color,
.owl-theme .owl-controls .owl-buttons div,
.owl-theme .owl-dots .owl-dot.active span,
.social-icons i:hover,
#menu-btn:hover,
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link,
.picframe.s2 span.overlay,
input[type='submit'].btn-main,
#contact_form input[type='submit'].btn-line:hover,
.tiny-border,
.de_tab.tab_style_4 .de_nav li.active,
.de_tab.tab_style_4 .de_nav li.active span,
.de_tab.tab_style_4 .de_nav.de_nav_dark li:hover,
.countdown-s1.countdown-bg-color .countdown-section,
.schedule-item:hover .sc-pic img,
#mainmenu ul.mega li li a:hover,
#pp-nav li .active span,
.pp-slidesNav .active span,
.video-play-button:after,
.video-play-button:before,
.widget_category li:hover a,
.f-num-inc span:hover,
.d-cart-icon span,
#form_coupon #btn-submit i,
.p-tagline,
.menu-item .c1 span,
.page-item.active .page-link,
.de-room .d-label,
a.btn-line:before,
.applyBtn.btn-success,
.d-minus,
.d-plus,
.daterangepicker td.active,
.daterangepicker td.active:hover,
.daterangepicker td.in-range,
.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
  background-color: var(--primary-color-1);
}
