@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat.woff2') format('woff2');
    font-display: swap;
}


:root {
    --primary-font: 'Montserrat', sans-serif;
    --border-radius: 8px;
    --main-bg: #f5f5f5;
    --bg-background: #F04E30;
    --bg-dark: #000
}

body {
    margin: 0;
    padding: 0;
    /* Let height be auto, do NOT fix it */
    min-height: 100vh;
    /* optional, just ensures minimum viewport fill */
}

.primary_color {
    color: var(--bg-background);
}

.primary_shadow {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

.banner-hero-img {
    width: 211px;
    height: 67px
}

.btn {
    font-size: 14px !important
}

.bg-app {
    background: var(--bg-background);
    color: #fff
}

.bg-app-btn {
    background: var(--bg-background) !important;
    color: #fff
}

.bg-app-btn:hover {
    box-shadow: 2px 0 10px rgba(0, 0, 0, .5);
    color: var(--bg-background) !important;
    background-color: #fdfdfd !important
}

.bg-btn {
    font-size: 16px !important;
    font-weight: 600;
    color: var(--bg-background)
}

.bg-btn:hover {
    box-shadow: 2px 0 10px rgba(0, 0, 0, .5);
    color: rgba(0, 0, 0, .5)
}

#openBtn {
    display: grid;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 240px;
    height: 106.75px;
    padding: 10px 20px;
    background-color: var(--bg-background);
    box-shadow: 2px 0 10px rgba(0, 0, 0, .5);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 22px;
    letter-spacing: .83px;
    font-weight: 600;
    z-index: 100;
    border-radius: 8px;
    width: 15rem;
    justify-items: center
}

#drawer {
    position: fixed;
    bottom: -100%;
    right: 0;
    height: 65%;
    width: 35%;
    background: linear-gradient(var(--bg-background), #e65e46);
    color: #fff;
    box-shadow: 2px 0 10px rgba(0, 0, 0, .5);
    transition: bottom .3s ease-in-out;
    z-index: 100;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px
}

.drawer-content {
    padding: 20px;
    height: 100%;
    overflow-y: auto
}

.logo-yx {
    background: #fff;
    box-shadow: 2px 0 10px rgba(0, 0, 0, .5);
    border-radius: 8px;
    object-fit: contain
}

.drawer-items {
    color: #000;
    margin-top: 20px;
    text-align: center;
    display: grid;
    justify-items: center;
    gap: 5px
}

.drawer-items>h2 {
    color: #fff;
    font-size: 28px
}

.drawer-items button {
    background: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
    height: 2.8rem;
    border-radius: 2px;
    color: var(--bg-background);
    font-weight: 600;
    border-radius: 8px
}

.drawer-items button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    transform: scale(.99);
    color: rgba(0, 0, 0, .5)
}

.drawer-items button:active {
    transform: scale(.99)
}

.drawer-banner {
    margin-top: 100px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1), 0 6px 20px rgba(0, 0, 0, .1);
    padding: 15px 2px 2px;
    color: #000;
    border-radius: 8px;
    text-align: center
}

.drawer-banner h2 {
    font-size: 32px;
    letter-spacing: .83px
}

#closeBtn {
    background-color: var(--bg-background);
    color: #fff;
    border: none;
    padding: 2px 5px 7px;
    cursor: pointer;
    position: absolute;
    right: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    border-radius: 8px
}

#imasCircle {
    display: flex;
    position: absolute;
    height: 85px;
    width: 100%;
    border-radius: 38px;
    text-align: center;
    padding: 21px 14px;
    justify-content: center
}

.drawer-items {
    font-size: 24px;
    margin-bottom: 10px
}

@media (max-width:768px) {
    .banner-hero-img {
        width: 180px;
        height: 55px
    }

    .logo-yx {
        height: 50px;
        width: 50%;
        padding: 8px 15px
    }

    .tabIcons {
        width: 28px !important;
        height: 22px !important
    }

    .tabIcons2 {
        width: 100px !important;
        height: 70px !important
    }

    #openBtn {
        width: auto;
        bottom: 10px;
        left: 10px;
        font-size: 28px;
        height: 8rem;
        border-radius: 12px
    }

    #closeBtn {
        font-size: 14px;
        background-color: var(--bg-background);
        color: #fff;
        top: -100%;
        right: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
        border-radius: 50px;
        padding: 4px 9px
    }

    #drawer {
        height: 45%;
        width: 100%;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        border: 5px solid #8fbfd1
    }

    .drawer-items {
        margin-top: 20px;
        text-align: center
    }

    .drawer-items h2 {
        font-size: 18px
    }

    .drawer-banner {
        margin-top: 80px;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, .1), 0 6px 20px rgba(0, 0, 0, .1);
        padding: 15px 2px 2px;
        color: #000;
        border-radius: 8px;
        text-align: center
    }

    .drawer-banner h2 {
        font-size: 18px;
        font-weight: 700
    }

    .drawer-banner p {
        font-size: 14px
    }
}

@media (min-width:1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1225px !important
    }
}

.navbar-light .navbar-nav .nav-link {
    color: #213360;
    font-family: var(--primary-font);
    font-size: 16px
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--bg-background);
    font-family: var(--primary-font);
    font-size: 16px;
    text-decoration: underline;
    text-decoration-color: var(--bg-background);
    text-underline-offset: 10px
}

ul.navbar-nav {
    margin-right: 8em
}

p.p-header a {
    font-family: var(--primary-font);
    font-size: 16px;
    color: #213360;
    text-decoration: none
}

/* #banner-image {
    background-image: url(../images/bckgrnd-medanta-_1_-1.webp);
    min-height: 26rem;
    background-size: cover;
    background-position: center center; */
/* center the image */
/* background-repeat: no-repeat;
} */


/* CLS-safe image styling */
#banner-image {
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1035/364;
    /* match image dimensions */
    min-height: 361px;
    /* fallback */
}

.banner-img {
    display: block;
    width: 100%;
    height: revert-layer;
    /* keeps ratio */
    object-fit: cover;
}

.overlay-container {
    position: absolute;
    top: 1rem;
    /* fixed pixel distance from top instead of percentage */
    left: 50%;
    /* always center horizontally */
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    /* responsive width */
    max-width: 1200px;
}

/* Typography */
.banner-txt,
.banner-p,
.btn {
    font-display: swap;
}

#banner-image h1.h1 {
    font-family: var(--bg-dark);
    font-size: 61px;
}

#banner-image h1.h11 {
    font-family: var(--primary-font);
    font-size: 61px;
}

#banner-image p {
    font-family: var(--primary-font);
    line-height: 30.565px;
}

#banner-image a.banner-btn {
    background-color: var(--bg-background);
    border-radius: 6px;
    font-family: var(--primary-font);
    font-size: 18px;
    border: 0;
}

#banner-image p.banner-p {
    font-family: 'Open Sans', sans-serif;
    color: var(--bg-background) !important;
    font-weight: 700;
    font-size: 24px !important;
}

h1.recentblog-h1 {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 30px;
    color: #232323;
    text-transform: uppercase;
    text-align: center
}

h1.card-title {
    color: var(--bg-background);
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase
}

h1.card-title1 {
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px
}

p.card-text {
    font-family: var(--primary-font);
    color: #232323;
    font-size: 16px
}

h2 {
    color: var(--bg-background);
    font-size: 24px;
    font-weight: 700;
    font-family: Raleway, sans-serif
}

p.offer-p {
    font-family: Raleway, sans-serif;
    color: #727272;
    font-size: 16px;
    font-weight: 400
}

#footer {
    background-color: #000
}

h1.foot-h1 {
    font-family: var(--primary-font);
    font-size: 24px;
    text-transform: uppercase;
    padding-top: 3em
}

p.footer-p {
    font-family: var(--primary-font);
    font-size: 18px;
    font-weight: 400
}

ul.footer-ul {
    line-height: 3
}

ul.footer-ul a {
    text-decoration: none;
    color: #fff
}

#testimonial {
    background-color: #f7f7f7
}

.testimonials {
    padding: 100px 0
}

.testimonials h3 {
    margin-bottom: 20px
}

.testimonials .card {
    transition: .5s;
    margin-top: 60px
}

.testimonials .card i {
    color: var(--bg-background);
    width: 75px;
    height: 75px;
    line-height: 75px;
    margin: -40px 0 auto
}

p.card-text1 {
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: left
}

.tablinks.ps-5 {
    padding-left: 6rem !important
}

.tabIcons {
    background: #fff !important
}

.tab {
    overflow: hidden;
    background-color: #fff;
    width: max-content;
    box-shadow: 3px 3px 15px #0000001A;
    border-radius: 5px;
    margin-top: 24px;
    width: auto;
    position: sticky;
    z-index: 99;
    top: 5px
}

.tab button {
    background-color: transparent;
    color: var(--bg-background);
    border: none;
    outline: 0;
    cursor: pointer;
    padding: 14px 24px;
    transition: .3s;
    font-size: 18px;
    font-weight: 600;
    text-wrap: nowrap;
    font-family: var(--primary-font);
    align-items: center;
    flex: 1 1 50px
}

.tab button.active {
    color: #fff;
    background: var(--bg-background);
    border-bottom: 3px solid var(--bg-background)
}

.tab button:hover {
    color: #fff;
    background: var(--bg-background);
    border-bottom: 3px solid var(--bg-background)
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none
}

a.btn {
    background-color: transparent;
    color: #000;
    font-family: var(--primary-font);
    font-size: 13px;
    padding: 8px 3px;
    border-radius: 0;
    border-color: #cbcbcb
}

a.btn:hover {
    background-color: var(--bg-background);
    color: #fff;
    border-color: var(--bg-background)
}

h1.card-title-h1 {
    color: #232323;
    text-align: center;
    font-family: var(--primary-font);
    font-size: 20.11px;
    font-weight: 600
}

.Surgeries-p {
    color: #646464;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 20px;
    text-align: center
}

.anal-p {
    color: #242424;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 15px;
    text-decoration: none
}

.anal-p1 {
    color: #242424;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 15px
}

.gap1:hover {
    background-color: #f9f2f2
}

#hotels-list {
    background-color: #f5fdff
}

#hotels-list h1 {
    color: #000;
    font-family: var(--primary-font);
    font-size: 21.881px;
    font-style: normal;
    font-weight: 500;
    line-height: normal
}

#hotels-list .fa.checked {
    color: #ffd600
}

#hotels-list p {
    color: #000;
    font-family: var(--primary-font);
    font-size: 15.044px;
    font-style: normal;
    font-weight: 500;
    line-height: 149.023%
}

#hotels-list .btn.btn-primary {
    background-color: var(--bg-background) !important;
    border: 0;
    font-family: var(--primary-font);
    font-size: 16px !important
}

#hotels-list .btn.btn-primary:hover {
    background: #fff !important;
    color: var(--bg-background) !important;
    border: 1px solid var(--bg-background)
}

.hotels-p1 {
    color: #595959 !important;
    font-family: var(--primary-font);
    font-size: 25px !important
}

.hotels-p2 {
    color: #595959 !important;
    font-family: var(--primary-font) !important;
    font-size: 25px !important;
    font-style: normal !important;
    font-weight: 400 !important
}

.hotels-p3 {
    color: #595959 !important;
    font-family: var(--primary-font) !important;
    font-size: 20px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    margin-top: -42px
}

.hotels-p4 {
    color: #595959 !important;
    font-family: var(--primary-font) !important;
    font-size: 25px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    margin-top: -26px
}

@media (max-width:600px) {
    #banner-image {
        background-image: url(../images/medanta-mobile.webp);
        background-repeat: no-repeat;
        background-size: cover;
        aspect-ratio: auto 375 / 375;
        height: 375px;
        width: 100%;
    }

    .banner-img {
        display: none;
    }

    #banner-image p.banner-p {
        font-family: 'Open Sans', sans-serif;
        color: #fff !important;
        font-weight: 700;
        font-size: 24px !important
    }

    .tab {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        padding: 8px 10px;
        background: linear-gradient(to right, #f2eeee 0, rgba(226, 226, 226, 0) 50%), linear-gradient(to left, #f2eeee 0, rgba(226, 226, 226, 0) 50%)
    }

    .tab a {
        width: 10rem;
        text-align: center;
        background: #fff
    }

    .tab button {
        padding: 10px 5px;
        font-size: 15px
    }

    .tab a.active {
        color: #fff;
        background: var(--bg-background) !important;
        border-bottom: 3px solid var(--bg-background)
    }

    .tab a:hover {
        color: #fff;
        background: var(--bg-background) !important;
        border-bottom: 3px solid var(--bg-background)
    }

    #banner-image h1.h1 {
        font-size: 33px
    }

    #banner-image h1.h11 {
        font-size: 33px
    }

    #banner-image p {
        line-height: 24.565px
    }

    #banner-image h2 {
        font-family: var(--primary-font);
        font-size: 31px
    }

    .opinion {
        padding: 9px 2px !important
    }

    a.btn {
        font-size: 17px;
        width: 49%
    }

    .get-free-opinin {
        padding-left: 0 !important
    }

    .spec-button-1 {
        margin-bottom: 30px
    }
}

@media (max-width:375px) {
    a.btn {
        font-size: 17px;
        width: auto !important;
    }
}

@media (max-width:780px) {
    a.btn {
        font-size: 17px;
        width: auto !important;
    }
}

@media (min-width:1600px) {
    .tabcontent.card-body {
        padding: 2em 1em
    }

    a.btn {
        font-size: 17px
    }
}

@media (max-width:1900px) {
    .tabcontent.card-body {
        padding: 2em 1em
    }

    a.btn {
        font-size: 17px;
        width: 42%
    }

    .banner-link {
        font-size: 17px;
        width: 49%;
        /* margin-top: 6rem !important */
    }
}

img {
    object-fit: contain
}

.h6-checkup {
    color: #000;
    font-family: var(--primary-font);
    font-size: 16.438px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize
}

.p-checkup {
    color: #000;
    font-family: var(--primary-font);
    font-size: 44.688px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}

.p1-checkup {
    color: #000;
    font-family: var(--primary-font);
    font-size: 17.313px;
    font-style: normal;
    font-weight: 700;
    line-height: normal
}

.p2-checkup {
    color: #000;
    font-family: var(--primary-font);
    font-size: 16.313px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}

.ul-checkup {
    color: #000;
    font-family: var(--primary-font);
    font-size: 13.875px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    padding: 0 10px
}

.spec-h1 {
    color: var(--bg-background);
    font-family: var(--primary-font);
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 178.5%
}

.spec-p {
    color: #464646;
    font-family: var(--primary-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 178.5%
}

.spec-button {
    border-radius: 4px;
    background: var(--bg-background);
    display: inline-flex;
    padding: 14.5px 115px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: var(--primary-font);
    font-size: 18px !important;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 0
}

.spec-button:focus {
    background-color: #fff;
    color: var(--bg-background);
    border: 1px solid var(--bg-background)
}

.spec-button:hover {
    background: #fff;
    color: var(--bg-background);
    border: 1px solid var(--bg-background)
}

.fa-check-circle {
    color: #0ca854
}

.icon {
    font-size: 15px;
    margin-bottom: 5px
}

.label {
    font-size: 15px;
    font-weight: 700
}

.arrow {
    position: absolute;
    transform: translateX(-50%);
    top: 140px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #6c757d
}

.arrow.up {
    bottom: -20px;
    transform: translateX(-50%) rotate(180deg)
}

.card-bg {
    padding: 30px 20px;
    margin-bottom: 15px;
    min-height: 350px;
    color: #000;
    background: #e6e7d9;
    border: 2px solid #f6e9e9
}

.expect .count-expect:nth-child(even) .card-bg {
    background: #fff
}

.expect .count-expect .card img {
    max-width: 75px;
    margin-bottom: 20px
}

@media screen and (max-width:800px) {
    .health-area {
        justify-content: normal !important
    }

    .spec-button {
        width: 100%;
        padding: 18px 0
    }

    .preloader-logo {
        width: 120px;
        margin-bottom: 20px
    }
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center
}

.spinner-wrapper {
    display: grid;
    justify-items: center;
    text-align: center
}

.preloader-logo {
    width: 180px;
    margin-bottom: 20px
}

.card-carousel-wrapper {
    overflow: hidden
}

.card-carousel {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch
}

.card-carousel::-webkit-scrollbar {
    display: none
}

.btn-scroll {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #000;
    color: #fff;
    border: none;
    font-size: 24px;
    padding: 10px;
    z-index: 10
}

.btn-left {
    left: 0
}

.btn-right {
    right: 0
}