<footer class="relative z-10 w-full mx-auto px-16 py-6
                bg-black/75 backdrop-blur-md
                border border-white/20
                text-white shadow-2xl  ">


    <div class="flex flex-col md:flex-row items-center justify-between gap-4">

        <!-- LEFT : COPYRIGHT -->
        <p class="text-sm text-gray-200 text-center md:text-left">
            © <span id="year"></span> Sanjeevani Kaya Shodhan Sansthan. All Rights Reserved.
        </p>

        <!-- RIGHT : SOCIAL ICONS -->
        <div class="flex items-center gap-5 text-xl">

            <a href="https://www.facebook.com/sanjeevanikayashodhan" rel="noopener noreferrer" aria-label="Facebook"
                target="_blank" class="hover:text-blue-500 transition">
                <i class="fab fa-facebook-f"></i>
            </a>

            <a href="https://x.com/Sanjeevani_Kaya" rel="noopener noreferrer" aria-label="Twitter" target="_blank"
                class="hover:text-sky-400 transition">
                <i class="fab fa-twitter"></i>
            </a>

            <a href="https://www.instagram.com/sanjeevani_kayashodhan" rel="noopener noreferrer" aria-label="Instagram"
                target="_blank" class="hover:text-pink-500 transition">
                <i class="fab fa-instagram"></i>
            </a>

            <a href="https://what.sapp.link/sanjeevani" rel="noopener noreferrer" target="_blank" aria-label="WhatsApp"
                class="hover:text-green-400 transition">
                <i class="fab fa-whatsapp"></i>
            </a>

        </div>

    </div>

</footer>